<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="blogs-content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quibusdam illum sunt molestias modi, laborum blanditiis 
            tempora possimus eos maxime iusto quo ad, alias ex? Doloremque natus velit harum dicta.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum in magnam dolores commodi amet laborum quibusdam dolor 
            sapiente, harum sequi hic nesciunt est rem error. Quasi delectus pariatur ipsum in?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto quisquam assumenda tempora quis dolores placeat similique? 
            Officia rem officiis molestias quo atque tempora, magni nobis veritatis a voluptatum ipsum dolores.</p>

    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>